@use 'global' as *;

.header {
  grid-area: head;
  @include display-flex(column, flex-start, flex-start);

  .logo {
    @include display-flex(row, flex-start, center, 25rem);

    &__img {
      margin: 0;
      @include set-size(90rem, 70rem);
    }

    &__heading {
      @include def-font(40rem, 600, map-get($colors, text-purple));
    }
  }

  .link-menu {
    @include display-flex(row, flex-start, baseline, 14rem);
    @include def-font(14rem, 400);

    &__home-link {
      @include def-font(25rem, 400, map-get($colors, text-purple));
    }

    &__link {
      @include def-font(14rem, 400, map-get($colors, text-purple));
      text-decoration: none;
    }

    &__divider {
      width: 14rem;
    }
  }
}






