@use 'global' as *;

@mixin option-button($type) {
  &__button {
    @extend %def-box;
    height: 40rem;
    width: 45rem;
    @if $type == filter {
      background: map-get($colors, white);
    } @else if $type == wishlist {
      background: map-get($colors, bg-purple);
    }
  }
  &__img {
    width: 14rem;
    @if $type == filter {
      transform: rotate(180deg);
    } @else if $type == wishlist {
      filter: invert(100%);
    }
  }
}

%action-button {
  @extend %def-box;
  @include def-font(14rem, 600);
  height: 45rem;
  width: 200rem;
  margin: 0;
  flex-grow: 1;
  display: inherit;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}


.filters {
  grid-area: filt;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  @include media(sm) {
    display: none;
  }

  .caption {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &__text {
      @include def-font(18rem, 400);
    }

    @include option-button(filter);
  }

  &__card {
    flex-grow: 1;
    @extend %def-box;
    background: map-get($colors,white);
    padding-left: 40rem;
    padding-top: 20rem;
  }

  &__caption {
    @include def-font(18rem, 600);
  }

  &__input {
    @include def-font(16rem, 300);
  }

  &__input--radio, &__input--checkbox {
    height: 15rem;
    width: 17rem;
    border: 1rem solid map-get($colors, border-gray);
  }

  &__divider {
    height: 0;
    width: 80%;
    margin: 30rem 0 30rem 0;
    border: 1px solid map-get($colors, divider-gray);
    background: map-get($colors, divider-gray);
  }

  &__button {
    height: 56rem;
    width: 100%;
    @extend %def-box;
    background: map-get($colors, bg-purple);
    color: white;
    font-size: 18rem;
    font-weight: 400;
    @include def-font(18, 400, white);
    text-transform: uppercase;
  }

}

.results {
  grid-area: res;
  display: flex;
  flex-direction: column;
  gap: 15rem;

  .caption {
    display: flex;
    justify-content: space-between;

    &__text {
      @include def-font(18rem, 400);
    }

    @include option-button(wishlist);
  }

  .under-caption {
    display: flex;
    flex-direction: column;
    gap: 30rem;

    .search {
      height: 60rem;
      width: 100%;
      @extend %def-box;
      display: flex;
      justify-content: space-between;

      &__input {
        width: 100%;
        height: 60rem;
        border: 0;
        padding-left: 30rem;
        @include def-font(22rem, 300);
        background: map-get($colors, white);
        border-radius: 8rem 0 0 8rem;

        &:focus {
          outline: none;
        }
      }

      &__button {
        height: 60rem;
        border: 0;
        padding-right: 20rem;
        border-radius: 0 8rem 8rem 0;
        background: map-get($colors, white);
      }

      &__img {
        width: 100%;
      }
    }

    &__cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30rem;
      @include media(xxl){
        grid-template-columns: repeat(2, 1fr);
      }
      @include media(sm){
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}



