<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="stylesheets/index.css" rel="stylesheet">
  <link href="stylesheets/header.css" rel="stylesheet">
  <link href="stylesheets/filters.css" rel="stylesheet">
  <link href="stylesheets/results.css" rel="stylesheet">
  <link href="stylesheets/card.css" rel="stylesheet">
  <link href="stylesheets/footer.css" rel="stylesheet">
</head>
<body>
<header>
  <div class="logo">
    <img alt="Logo" src="images/logo.svg">
    <p>Online Store</p>
  </div>
  <nav>
    <a href=""><span>&#8962;</span></a>
    <img src="images/arrows.png" alt="arrow">
    <a href="">eCommerce</a>
    <img src="images/arrows.png" alt="arrow">
    <a href="">Electronics</a>
  </nav>
</header>
<div class="filters">
  <div class="caption">
    <span>Filters</span>
    <button><img src="images/arrows.png" alt="arrows"></button>
  </div>

  <div class="filter-card">
    <span class="filters-caption">Multi Range</span>
    <form action="">
      <p><input name="range" type="radio">$10</p>
      <p><input name="range" type="radio">$10-$100</p>
      <p><input name="range" type="radio">$100-$500</p>
      <p><input name="range" type="radio">$500</p>
      <p><input name="range" type="radio">All</p>
      <div class="divider"></div>
      <span class="filters-caption">Category</span>
      <p><input type="checkbox">Cell Phones</p>
      <p><input type="checkbox">Computers & Tablets</p>
      <p><input type="checkbox">Cell Phones Accessories</p>
      <p><input type="checkbox">Appliances</p>
      <p><input type="checkbox">Audio</p>
      <p><input type="checkbox">iPhone Accessories</p>
      <p><input type="checkbox">Cameras & Camcorders</p>
      <p><input type="checkbox">iPhone Cases & Clips</p>
      <p><input type="checkbox">TV & Home Theater</p>
      <p><input type="checkbox">Small Kitchen Appliances</p>
      <div class="divider"></div>
      <span class="filters-caption">Brand</span>
      <p><input type="checkbox">Insigni</p>
      <p><input type="checkbox">Samsung</p>
      <p><input type="checkbox">Apple</p>
      <p><input type="checkbox">HP</p>
      <p><input type="checkbox">Sony</p>
      <p><input type="checkbox">Metra</p>
      <p><input type="checkbox">Dyne</p>
      <p><input type="checkbox">LG</p>
      <p><input type="checkbox">Canon</p>
      <p><input type="checkbox">Speck</p>
    </form>
  </div>
  <button>CLEAR ALL FILTERS</button>
</div>

<div class="results">
  <div class="caption">
    <span>7,618 results found</span>
    <button><img src="images/wishlist.svg" alt="wishlist"></button>
  </div>
  <div class="under-caption">
    <form>
      <input placeholder="Search" type="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <main>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
      <section class="card">
        <figure>
          <img alt="Apple Watch" class="product" src="images/product.png">
        </figure>

        <div class="rate_cost">
          <div class="rate">
            <p>3.4</p>
            <img alt="Rate Star" class="icon" src="images/rate-star.svg">
          </div>

          <div class="cost">
            <p>399$</p>
          </div>
        </div>

        <article class="description">
          <h2>Apple Watch Series 4 GPS</h2>
          <p>Redesigned from scratch and completely revised.</p>
        </article>

        <div class="action">
          <button class="wishlist"><img alt="Wishlist Heart" class="icon" src="images/wishlist.svg"> WISHLIST</button>
          <button class="purchase "><img alt="Purchase Basket" class="icon" src="images/shopping-bag.svg">ADD TO CARD
          </button>
        </div>
      </section>
    </main>
  </div>
</div>

<footer>
  <div class="arrow back"><a><img src="images/arrow.svg" alt="arrow"></a></div>
  <div class="pages">
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <a href="">6</a>
    <a href="">7</a>
    <a href="">8</a>
    <a href="">9</a>
    <a href="">10</a>
  </div>
  <div class="arrow"><img src="images/arrow.svg" alt="arrow"></div>
</footer>
</body>
</html>
